
html, body {
    text-align: center;
}

nav {
    height: 3em;
    width: fit-content;
    margin: auto;
}

ul {
    list-style: none;
    margin-left: -2.5em;
}

li {
    float: left;
    margin: 0 .5em 0 .5em;
}

#link_box {
    clear: left;
}