
html, body {
    text-align: center;
}

nav {
    height: 3em;
    width: fit-content;
    margin: auto;
}

button {
    margin: 0 .5em 0 .5em;
}

#link_box {
    clear: left;
}

#map-positioner {
    height: 400px;
}

#map-container {
    width: 750px;
    height: 100%;
    margin: auto;
}