color-palette {
    color: #F8F8F2;
    color: #F8DEBD;
    color: #FFAE5D;
    color: #FF7182;
    color: #9F6164;
    color: #6F3662;
}

html, body {
    height: 100%;
    min-width: 63em;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #6F3662;
}

#background {
    height: 44em;
}

header {
    background: none;
    align-content: center;
    height: 100%;
    margin-bottom: 0px;
}

#coffee-cookies-img {
    width: 100%;
    min-width: 63em;
    position: fixed;
    z-index: -100;
}

#h1-placer {
    width: fit-content;
    margin: auto;
    padding-top: 15%;
}

#title-container {
    padding: 1.8em 3em 1.5em 3em;
    border-radius: 1.5em;
    background: #F8DEBD;
    border: 3px solid #9f6164;
}

header h1 {
    display: inline-block;
    margin: 0;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 4em;
    line-height: 1em;
}

#title-salmon {
    color: #FF7182;
}

#title-cookies {
    color: #9F6164;
}

header h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* #coffee-cookies-box {
    width: 100%;
    max-height: 30%;
} */

.info-div {
    padding: 10% 0;
    border-top: 15px solid #9f6164;
    border-bottom: 15px solid #9f6164;
    background: #F8F8F2;
    margin-bottom: 6em;
    font-size: 18px;
}

.info-div>div {
    width: 66%;
    margin: auto;
}

#greeting-div {
    height: 10em;
}

#location-div {
    height: 8em;
}

#contact-div {
    height: 7em;
}

.info-div h3 {
    margin-left: -1em;
    color: #FF7182;
}

.centered-info {
    text-align: center;
}

.centered-info h3 {
    margin: 0;
}

.centered-info ul {
    padding: 0;
    list-style: none;    
}

#salmon-space {
    height: 13em;
    margin-bottom: 6em;
    overflow-x: hidden;
    background: #F8DEBD;
    border-top: 15px solid #9f6164;
    border-bottom: 15px solid #9f6164;
}

#salmon-animation {
    width: 30em;
    margin: 1.5em auto;
    animation-name: moveSalmon;
    animation-duration: 28s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#salmon-image {
    width: 100%;
}

 @keyframes moveSalmon {

    0% { margin-left:-50%; }
    49% 
    { 
        margin-left: 120%;
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    51% { 
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
     }
    100% { 
        margin-left:-40%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
} 
#chinook-space {
    height: 13em;
    margin-bottom: 6em;
    overflow: hidden;
    background: white;
    border-top: 15px solid #9f6164;
    border-bottom: 15px solid #9f6164;
}

#chinook-animation {
    width: 30em;
    height: 85%;
    margin: 1.5em auto;
    animation-name: moveChinook;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#chinook-image {
    width: 100%;
    height: 100%;
}

 @keyframes moveChinook {

    0% { margin-left:120%; }
    49% 
    { 
        margin-left: -40%;
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    51% { 
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
     }
    100% { 
        margin-left:110%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
} 

a, a:visited {
    color: #6F3662;
    text-shadow: 0.1em 0 0.1em #FFAE5D;
}

/* nav {
    max-height: 150px;
    max-width: 38px;
    position: fixed;
    top: 200px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

h5 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav img {
    width: 100%;
    height: auto;
} */