color-palette {
    color: #F8F8F2;
    color: #F8DEBD;
    color: #FFAE5D;
    color: #FF7182;
    color: #9F6164;
    color: #6F3662;
}

html, body {
    height: 100%;
    min-width: 63em;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #6F3662;
}

#background {
    height: 44em;
}

header {
    background: none;
    align-content: center;
    height: 100%;
    margin-bottom: 0px;
}

#coffee-cookies-img {
    width: 100%;
    position: fixed;
    z-index: -100;
}

#h1-placer {
    width: fit-content;
    margin: auto;
    padding-top: 15%;
}

#title-container {
    padding: 1.8em 3em 1.5em 3em;
    border-radius: 1.5em;
    background: #F8DEBD;
    border: 3px solid #9f6164;
}

header h1 {
    display: inline-block;
    margin: 0;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 4em;
    line-height: 1em;
}

#title-salmon {
    color: #FF7182;
}

#title-cookies {
    color: #9F6164;
}

header h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* #coffee-cookies-box {
    width: 100%;
    max-height: 30%;
} */

.info-div {
    height: 11em;
    padding: 10% 0;
    border-top: 15px solid #9f6164;
    border-bottom: 15px solid #9f6164;
    background: #F8F8F2;
    margin-bottom: 6em;
    font-size: 18px;
}

.info-div>div {
    width: 66%;
    margin: auto;
}

.info-div h3 {
    margin-left: -1em;
}

#salmon-space {
    height: 13em;
    margin-bottom: 6em;
    overflow-x: hidden;
    background: #F8F8F2;
    border-top: 15px solid #9f6164;
    border-bottom: 15px solid #9f6164;
}

#salmon-animation {
    width: 30em;
    margin: 1.5em auto;
    animation-name: move;
    animation-duration: 28s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#salmon-image {
    width: 100%;
}

 @keyframes move {

    0% { margin-left:-70em; }
    49% 
    { 
        margin-left: 90em;
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    51% { 
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
     }
    100% { 
        margin-left:-60em;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
} 
